body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

p {
    word-wrap: break-word;
    text-align: justify;
}

.icon-size {
    width: 24px;
    height: 24px;
}

.movie-list {
    list-style-type: square;
    font-size: medium;
}

.movie-list::marker {
    color: green;
}

.card {
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.page-item.active span {
    background-color: black;
    border-color: black;
}

.page-item a {
    color: black;
}

.btn-text {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}