body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

p {
    word-wrap: break-word;
    text-align: justify;
}

.icon-size {
    width: 24px;
    height: 24px;
}

.movie-list {
    list-style-type: square;
    font-size: medium;
}

.movie-list::marker {
    color: green;
}
